.container {
    margin: 0 auto;
    margin-top: 40px;
    padding: 40px;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 20px;
}